body {
  font-family: Cambria;
  margin: 0;
  background: #cccccc
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  display: block;
}

.topnav {
  overflow: hidden;
  background-color: #806934;
}

.topnav a {
  float: left;
  color: #c27a3c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #cccccc;
  color: Black;
}

.topnav a.active {
  background-color: ##c27a3c;
  color: white;
}


h1 {
color: #54361c;
  text-align: left;
font-family: Cambria;
  font-size: 30px;
   padding: 14px 14px;
}

h2 {
 color:  #54361c;
  text-align: left;
font-family: Cambria;
  font-size: 20px;
padding: 14px 14px 14px 14px;
}

input[type=text], select, textarea {
  width:100%;
  padding: 12px;
  border: 1px solid #54361c;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #cccccc;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.footer {
   position: absolute;
  background:#806934;
   color: white;
   bottom: 1px;
   text-align: center;
   left: 40%;
   bottom: -3;
}
