body {
  font-family: Cambria;
  margin: 0;
  background: #cccccc
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  display: block;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #8f825d;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


h1 {
color: #54361c;
  text-align: left;
font-family: Cambria;
  font-size: 30px;
   padding: 14px 14px;
}

h2 {
 color:  #54361c;
  text-align: left;
font-family: Cambria;
  font-size: 20px;
padding: 14px 14px 14px 14px;
}



.footer {
   position: absolute;
  background:#806934;
   color: white;
   bottom: 1px;
   text-align: center;
   left: 40%;
   bottom: -2%;
}
