
body {
  background-color:#00b3b3;
  font-family: Arial;
  text-align: left;
  

body
{
  margin: 0;
  padding: 0;
  
 
  background: #232323;
  color: #cdcdcd;
  font-family:  Arial;
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* Set the width of the side navigation to 250px */
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

/* Set the width of the side navigation to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@font-face {
   font-family: Arial;
   src: url(sansation_light.woff);
  font-weight: bold;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

{
  box-sizing: border-box;
}

header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

    /* For tablets: */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
.topnav a {
    float: none;
    width: 100%;
  }
 
footer {
   position: absolute;
   bottom: 2px;
   text-align: center;
}
