/* Variables */
body {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: LightGoldenRodYellow;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.mobile-container {
  max-width: 768px;
  margin: auto;
  background-color: #555;
  height: 896px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.h1, .h2, .h3, .h4 {
color: #330000;
  text-align: left;
font-family: Helvetica;
  font-size: 25px;
}


p {
  text-align: left;
  
}
body {
  color: black;

}

footer {
   position: absolute;
   bottom: 2px;
   text-align: center;
}
