
body {
  background-color:#00b3b3;
  font-family: Arial;
  text-align: left;
  
/* Style the navigation menu */
nav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}


/* Style navigation menu links */
nav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
nav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
active {
  background-color: #04AA6D;
  color: white;
}
@font-face {
   font-family: Arial;
   src: url(sansation_light.woff);
  font-weight: bold;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

{
  box-sizing: border-box;
}

header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 1px 3px 
}

wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

    /* For tablets: */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
.topnav a {
    float: none;
    width: 100%;
  }
 
footer {
   position: absolute;
   bottom: 2px;
   text-align: center;
}
